#wrapper
{
  height: 100%;
}

html
{
  height: 100%;
}

.topbar
{
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
  background-color: #333;
  /*position: fixed;
  top: 0;*/
  width: calc(100% + 40px);
  /*left: 20%;*/
  margin: -20px;
  margin-bottom: 10px;
}

.topbar a
{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.topbar a:hover
{
  background: #ddd;
  color: black;
  /*border-bottom: 3px solid #47C9CE;*/
}

.topbar .active
{
  border-bottom: 3px solid #47C9CE;
}

.home
{
  background-image: url("static/img/1.jpg");
  height:100%;
  color:$white;
  background-size: cover;
  background-attachment: fixed;
  text-align:center;
}

body
{
  /*background: url('../img/barbell.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;*/
  margin: 0px;
  height: 100%;
  /*font-family: "Courier New";
  font-size: 14px;
  font-weight: bold;*/
  color: black;
  /*display: block;
  position: relative;
  text-align: center;*/
  padding: 33px;
}

a.carousel-card, a.carousel-card:hover
{
  color: black;
  text-decoration: none;
  text-align: center;
}

a
{
  color: #47C9CE;
}

a:hover
{
  color: #4BE4D7;
}

hr
{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0;
}

.section-title
{
  text-align: left;
}

.separator
{
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 8px;
}

.separator::after
{
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator::after
{
    margin-left: .25em;
}

td
{
    border: 1px black solid;
}
.short
{
  transform: translateX(92%);
  align: center;
  width: 35%;
}

/*.title
{
  font-family: 'Stardos Stencil', cursive;
}*/

.section
{
  background-color: rgba(60,132,160,.8);
  margin: auto;
  /*margin-top: 33px;*/
  margin-bottom: 33px;
  width: 60%;
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*transform: translateX(-50%);*/
  text-align: left;
  min-height: calc(100vh - 66px);
}

.top
{
  margin-top: 59px;
}

.sub-bottom
{
  margin-bottom: 28px;
}

.corners
{
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.shadow
{
  -webkit-box-shadow: 4px 4px 5px 3px #999;
  box-shadow: 4px 4px 5px 3px #999;
}

h1
{
  margin: auto
}

h3
{
  margin: auto;
}

h2
{
  margin: auto;
}

img
{
  width: 40%;
  margin: 20px;
}

p
{
  margin: auto;
}

.fit /*mobile phone values*/
{
  font-size: 1.0vw;
}

span
{
  text-decoration: underline;
}

ul
{
  text-align: left;
}

.bulletless
{
  text-align: center;
  list-style-type: none;
  padding: 0px;
}

.carousel-container
{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: left;
}

.carousel-card, .add-card
{
  display: inline-block;
  height: 180px;
  width: 180px;
  border-radius: 5px;
  margin-right: 12px;
}

.carousel-card
{
  border: solid 5px black;
  margin-bottom: 20px;
}

a.carousel-card:hover
{
  border: solid 5px #ddd;
}

.add-card
{
  border: dashed 5px black;
}

.scrollbar-primary::-webkit-scrollbar
{
  border-radius: 10px;
  width: 12px;
  background-color: rgba(51, 51, 51, 1);
}

.scrollbar-primary::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(71, 201, 206, 1);
}

.space
{
  width: 20%;
  height: 180px;
}

table
{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.tight
{
  width: auto;
}

.border tr,
.border td,
.border
{
  border: 2px solid black;
  border-collapse: collapse;
  padding-top: 0px;
  padding-bottom: 0px;
}

div
{
  text-align: center;
}

.bottom-bar
{
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.inbar
{
  color: white;
}

.center-text
{
  text-align: center;
}

.success-message
{
  display: none;
  color: lime;
}
.error-message
{
  display: none;
  color: red;
}

input
{
  background-color: #333;
  border: none;
  color: #f2f2f2;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button
{
  background-color: #333;
  border: none;
  color: #f2f2f2;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

@media only screen and (min-width: 600px)
{
  /* Sizing for Tablets */
  .fit
  {

  }
}

@media only screen and (min-width: 768px)
{
  /* Sizing for Desktop */
  .fit
  {

  }
}
