<table class="center-text">
  <tr>
    <th></th>
    <th>Day 1</th>
    <th>Day 2</th>
    <th>Day 3</th>
    <th>Day 4</th>
    <th>Day 5</th>
    <th>Day 6</th>
    <th>Day 7</th>
  </tr>

{% for week in definition %}
  <tr>
    <th>Week {{ loop.index }}</th>

    {% set rowloop = loop %}
    {% for session in week %}
    <td>
      <a href="#" onClick="halfMarathonController.navigateToWeekAndDay({{ rowloop.index }}, {{ loop.index }})">{{ session.exercises[0].description }}</a>
    </td>
    {% endfor %}
  </tr>
{% endfor %}
</table>
