{% extends "base.html" %}

{% block content %}
    <h1>Page Not Found</h1>
    <p>
      The page you are looking for is missing or does not exist</br>
      <a href="{{ url_for('index') }}">Back</a>
    </p>
{% endblock %}
