<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

  	<link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static',filename='css/styles.css') }}"
          media="screen">

    {% if title %}
    <title>{{ title }} - Gym Journal</title>
    {% else %}
    <title>Gym Journal</title>
    {% endif %}
  </head>
  <body class="home">
    <!--<hr>-->
    {% with message = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ messages }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div id="wrapper">
      <div class="section sub-bottom corners">
        <div class="topbar">
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">Login</a>
          {% else %}
          <a href="{{ url_for('index') }}" class="active">Dashboard</a>
          <a href="{{ url_for('programs') }}">Programs</a>
          <a href="randomizer.html">Randomizer</a>
          <a href="personalRecords.html">Records</a>
          <a href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script>
      let staticPath = "{{ url_for('static',filename='img') }}";
    </script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
