<div class="carousel-container scrollbar scrollbar-primary">
  {% if has_add_card %}
  <a href="{{ url_for('programs') }}" class="add-card">
    <p class="fit">Add</p>
    <img src="{{ url_for('static',filename='img/icons/plus.png') }}" />
    <p class="fit">New Program</p>
  </a>
  {% endif %}
  {% for card in programs %}
  <a href="{{ url_for('my' + card.__class__.__name__, program_id = card.id) }}" class="carousel-card">
    <p class="fit">{{ card.name }}</p>
    <img src="{{ url_for('static',filename='img/icons/' + card.icon) }}" />
    <p class="fit">{{ card.progress() }}</p>
  </a>
  {% endfor %}
</div>
