{% extends "base.html" %}

{% block content %}
<br />
<h1 class="center-text">Conjugate Method Weight Training Program</h1>
<br />

{% if preview %}
<p class="center-text">
This is the program description
</p>

<br />
<div class="center-text">
  <form method="post">
    <button name="add_button" value="conjugateMethod" type="submit">Add To Current Programs</button>
  </form>
</div>
{% else %}
<div>
  <h4 id="day-title"></h4>
  <form id="input-form" action="" method="">
    {{ form.hidden_tag() }}
    {{ form.day }}
    <div id="form-container">
      <!-- Templates get inserted here -->
    </div>
    <input type="submit" value="Save" />
    <br />
    <span id="form-success" class="success-message">Data Saved!</span>
  </form>
</div>

<button id="prevButton" onClick="conjugateMethodController.previousButtonClicked()">&lt;-Prev</button>
<button id="nextButton" onClick="conjugateMethodController.nextButtonClicked()">Next-&gt;</button>

<br />
<form id="drop-form" action="" method="post">
  {{ drop_form.hidden_tag() }}
  {{ drop_form.drop }}
</form>
<br />

<!-- ??? Template -->
<template id="weight-template">
  <p id="weight-entry">
    <label id="weightAmountLabel" for="weightAmount">Set #1 weight:</label>
    <input id="weightAmount" name="weightAmount" type="text" />
    <span id="amount-error" class="error-message">Invalid input.</span>
    <br />

    <label id="weightRepsLabel" for="weightReps">Reps:</label>
    <input id="weightReps" name="weightReps" type="text" />
    <span id="reps-error" class="error-message">Invalid input.</span>
  </p>
</template>

{% endif %}

{% endblock %}

{% block scripts %}
{% if not preview %}
  <script>
    var ajaxUrl = "{{ url_for('programData', program_type='conjugateMethod', program_id=program.id) }}"; // send the form data here.
    var csrf_token = "{{ form.csrf_token._value() }}";
  </script>
  <script src="{{ url_for('static',filename='js/conjugateMethod.js') }}"></script>
{% endif %}
{% endblock %}

