{% extends "base.html" %}

{% block content %}
<div>
  <h1>Welcome</h1>
  <p>blahblahblah</p>
</div>
<br />
<div>
  <!--Current Programs-->
  <h2 class="section-title separator">Current Programs</h2>
  {% with programs = current_programs, has_add_card = True %}
    {% include "carousel.html" %}
  {% endwith %}
</div>
<br />
<div>
  <!--Previous Programs-->
  <h2 class="section-title separator">Previous Programs</h2>
  {% with programs = past_programs, has_add_card = False %}
    {% include "carousel.html" %}
  {% endwith %}
</div>
<br />
<div>
  <!--Update Notes-->
  <h2>What's New</h2>
  <h3 style="text-align: left">2020-10-18</h3>
  <ul>
    <li>Dashboard is created, more features will be implemented later.</li>
    <li>Half Marathon model is improved to calculate weekly totals for the preview.</li>
    <li>Work is started for entering half marathon data.</li>
    <li>Work is started on including more background images to randomly be displayed.</li>
    <li>Work is started on making a full body workout randomizer</li>
  </ul>
</div>

{% endblock %}
