{% extends "base.html" %}

{% block content %}
<!--<h1>Beginner's 16 Week Half Marathon Training Program</h1>
  {{ preview|safe }}-->
    <form id="halfMarathon">
      {{ form.distance.label }}: {{ form.distance }}<br />
      {{ form.time.label }}: {{ form.time }}<span id="time-error" style="display: hidden; color: red;">Invalid input.</span><br />
      <input type="submit" value="Save" />
    </form>
{% endblock %}
