{% extends "base.html" %}

{% block content %}
<br />
<h1 class="center-text">Beginner's 16 Week Half Marathon Training Program</h1>
<br />

{% if not preview %}
<div>
  <h4 id="day-title"></h4>
  <form id="input-form" action="" method="">
    {{ form.hidden_tag() }}
    {{ form.day }}
    <p id="description-label"></p>
    <p>
      {{ form.time.label }}: {{ form.time(size=32) }}
      <span id="time-error" class="error-message">Invalid input.</span>
    </p>
    <input type="submit" value="Save" />
    <br />
    <span id="form-success" class="success-message">Data Saved!</span>
  </form>
</div>

<button id="prevButton" onClick="halfMarathonController.previousButtonClicked()">&lt;-Prev</button>
<button id="nextButton" onClick="halfMarathonController.nextButtonClicked()">Next-&gt;</button>

<br />
<form id="drop-form" action="" method="post">
  {{ drop_form.hidden_tag() }}
  {{ drop_form.drop }}
</form>
{% endif %}

<br />
  {{ calendar | safe }}
<br />
<br />

{% if preview %}
<h3 class="center-text">This training program will result in running 259 miles.</h3>
<br />
<div class="center-text">
  <form method="post">
    <button name="add_button" value="halfMarathon" type="submit">Add To Current Programs</button>
  </form>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{% if not preview %}
  <script>
    var ajaxUrl = "{{ url_for('programData', program_type='halfMarathon', program_id=program.id) }}"; // send the form data here.
    var csrf_token = "{{ form.csrf_token._value() }}";
  </script>
  <script src="{{ url_for('static',filename='js/halfMarathon.js') }}"></script>
{% endif %}
{% endblock %}
