{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;">Programs</h1>
<br />
<h2 class="section-title separator">Running</h2>
<a class="carousel-card" href="{{ url_for('halfMarathonPreview') }}">
  <p class="fit">Half Marathon</p>
  <img src="{{ url_for('static',filename='img/icons/running.png') }}" />
  <p class="fit">16 Weeks</p>
</a>
<div class="carousel-card">
  <p class="fit">Intervals</p>
  <img src="{{ url_for('static',filename='img/icons/dots.png') }}" />
  <p class="fit">Coming Soon</p>
</div>
<br />
<h2 class="section-title separator">Weight Training</h2>
<a class="carousel-card" href="{{ url_for('conjugateMethodPreview') }}">
  <p class="fit">Conjugate Method</p>
  <img src="{{ url_for('static',filename='img/icons/barbell.png') }}" />
  <p class="fit">16 Weeks</p>
</a>
<div class="carousel-card">
  <p class="fit">Full Body</p>
  <img src="{{ url_for('static',filename='img/icons/dots.png') }}" />
  <p class="fit">Coming Soon</p>
</div>
<br />
<h2 class="section-title separator">Calisthenics & HIIT</h2>
<a class="carousel-card" href="{{ url_for('pullupChallengePreview') }}">
  <p class="fit">Pullup Challenge</p>
  <img src="{{ url_for('static',filename='img/icons/pullups.png') }}" />
  <p class="fit">1 Session</p>
</a>
<div class="carousel-card">
  <p class="fit">Tabata</p>
  <img src="{{ url_for('static',filename='img/icons/dots.png') }}" />
  <p class="fit">Coming Soon</p>
</div>

{% endblock %}
