{% extends "base.html" %}

{% block content %}
<br />
<h1 class="center-text">Athlean-X Pull-Up Challenge</h1>
<br />


{% if preview %}
<form id="register-form" method="post">
  {{ form.hidden_tag() }}
  <p class="center-text">
  This challenge is completed in one session and can be used as a benchmark for your pull-up strength. Below you will determine your challenge goal based on the max number of pullups you can perform in a single set. Try to reach your goal in the least amount of sets possible: the lower, the better.
  </p>
  <br />
  <p class="center-text">
    If conducting this challenge alone you may only rest for 30 seconds between your sets. However, if conducting this challenge with a friend you may only rest for the amount of time it takes your partner to complete their set.
  </p>
  <br />
  <p class="center-text">
  Please indicate if you will be conducting this challenge unassisted, assisted, or weighted:
  </p>
  <br />
  <div class="center-text">
    {{ form.weightCategory.label }}: {{ form.weightCategory }}
  </div>
  <br />
  <p class="center-text">
  Choose the correct challenge level for you:
  </p>

  <table>
    <tr>
      <th></th>
      <th>Your Single Set Max</th>
      <th>Challenge Goal</th>
    </tr>
    <tr>
      <td><input id="challengeGoal-0" type="radio" name="challengeGoal" value="50" /></td>
      <td>15 or More Pull-ups</td>
      <td>50 Total Reps</td>
    </tr>
    <tr>
      <td><input id="challengeGoal-1" type="radio" name="challengeGoal" value="40" /></td>
      <td>9 - 14 Pull-ups</td>
      <td>40 Total Reps</td>
    </tr>
    <tr>
      <td><input id="challengeGoal-2" type="radio" name="challengeGoal" value="30" /></td>
      <td>4 - 8 Pull-ups</td>
      <td>30 Total Reps</td>
    </tr>
    <tr>
      <td><input id="challengeGoal-3" type="radio" name="challengeGoal" value="15" /></td>
      <td>3 or Less Pull-ups</td>
      <td>15 Total Reps</td>
    </tr>
  </table>

  <br />
  <div class="center-text">
    <button name="add_button" value="pullupChallenge" type="submit">Add To Current Programs</button>
  </div>

</form>

<br />
<h4 class="text-center">Scoring</h4>
<p>
Below is a summary of the results and scoring chart for the Athlean-X Pull-Up Challenge.
</p>

<br />
<table>
  <tr>
    <td>15 or more sets</td>
    <td>&rarr;</td>
    <td>Basic</td>
  </tr>
  <tr>
    <td>12 - 15 sets</td>
    <td>&rarr;</td>
    <td>Solid</td>
  </tr>
  <tr>
    <td>9 - 11 sets</td>
    <td>&rarr;</td>
    <td>Pro</td>
  </tr>
  <tr>
    <td>6 - 8 sets</td>
    <td>&rarr;</td>
    <td>Elite</td>
  </tr>
  <tr>
    <td>5 or less sets</td>
    <td>&rarr;</td>
    <td>X-treme</td>
  </tr>
</table>


{% else %}
<div>
  <h4>Pullup Sets</h4>
  <p>Weight Assistance: <span id="assistance" style="font-weight: 700;"></span></p>
  <form id="input-form" action="" method="">
    {{ form.hidden_tag() }}
    <div id="form-container">
      <template id="pullup-form">
        <p id="pullupEntry">
          <label id="pullupsRepsLabel" for="pullupReps">Set #1:</label>
          <input id="pullupReps" name="pullupReps" type="text" />
          <span id="reps-error" class="error-message">Invalid input.</span>
        </p>
      </template>
    </div>
    <p>
      <button id="addSetButton" type="button" onClick="pullupChallengeController.addSetClicked()">+ Add a Set</button>
      <button id="removeSetButton" type="button" disabled="true" onClick="pullupChallengeController.removeSetClicked()">- Remove a Set</button>
    </p>
    {{ form.save() }}
    <br />
    <span id="form-success" class="success-message">Data Saved!</span>
    {{ form.complete() }}
  </form>
</div>

<br />
<form id="drop-form" action="" method="post">
  {{ drop_form.hidden_tag() }}
  {{ drop_form.drop }}
</form>
<br />

<div id="results-display" style="display: none; font-weight: 700;">
  <p>You met your goal in <span id="score"></span> sets. Your score is: <span id="score-name"></span><p>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
  <script>
{% if not preview %}
    var ajaxUrl = "{{ url_for('programData', program_type='pullupChallenge', program_id=program.id) }}"; // send the form data here.
{% endif %}
    var csrf_token = "{{ form.csrf_token._value() }}";
  </script>
  <script src="{{ url_for('static',filename='js/pullupChallenge.js') }}"></script>
{% endblock %}

